<?xml version="1.0" encoding="UTF-8"?>
%urlset{ 'xsi:schemaLocation': "http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd",
         'xmlns:xsi': "http://www.w3.org/2001/XMLSchema-instance",
         'xmlns:image': "http://www.google.com/schemas/sitemap-image/1.1",
         'xmlns:video': "http://www.google.com/schemas/sitemap-video/1.1",
         'xmlns': "http://www.sitemaps.org/schemas/sitemap/0.9" }
  %url
    %loc= ENV['APP_URL']
    %lastmod= '2020-04-23T17:05:08Z'
    %priority
      1
    %video:video
      %video:thumbnail_loc
        = "https://www.cher.app#{image_path('cherapp-ownership-coborrowing-video-placeholder.png')}"
      %video:title
        = t('property_overview.coowning_advantages')
      %video:description
        = t('property_overview.coowning_advantages_2')
      %video:content_loc
        = "https://www.cher.app#{video_path('cher.mp4')}"
      %video:duration
        71
      %video:family_friendly
        yes
    %image:image
      %image:loc
        = "https://www.cher.app#{image_path('cherapp-ownership-coborrowing-landing-page-b-background-secondary.png')}"
    %image:image
      %image:loc
        = "https://www.cher.app#{image_path('cherapp-ownership-coborrowing-news_subscribe.png')}"
  %url
    %loc= "https://www.cher.app/look_around"
    %lastmod= '2020-04-23T17:05:08Z'
  %url
    %loc= "https://www.cher.app/privacy"
    %lastmod= '2020-04-23T17:05:08Z'
    %image:image
      %image:loc
        = "https://www.cher.app#{image_path('cherapp-ownership-coborrowing-privacy.png')}"
  %url
    %loc= "https://www.cher.app/who_we_are"
    %lastmod= '2020-04-23T17:05:08Z'
    %image:image
      %image:loc
        = "https://www.cher.app#{image_path('cherapp-ownership-coborrowing-who_we_are.png')}"
  %url
    %loc= "https://www.cher.app/know_more"
    %lastmod= '2020-04-23T17:05:08Z'
    %image:image
      %image:loc
        = "https://www.cher.app#{image_path('cherapp-ownership-coborrowing-thinking.png')}"
  %url
    %loc= "https://www.cher.app/partner_with_us"
    %lastmod= '2020-04-23T17:05:08Z'
    %image:image
      %image:loc
        = "https://www.cher.app#{image_path('cherapp-ownership-coborrowing-partner_with_us.png')}"
  %url
    %loc= "https://www.cher.app/faq"
    %lastmod= '2020-04-23T17:05:08Z'
  %url
    %loc= "https://www.cher.app/knowledge_hug"
    %lastmod= '2020-04-23T17:05:08Z'
  %url
    %loc= "https://www.cher.app/terms"
    %lastmod= '2020-04-23T17:05:08Z'
    %image:image
      %image:loc
        = "https://www.cher.app#{image_path('cherapp-ownership-coborrowing-terms.png')}"
  %url
    %loc= "https://www.cher.app/users/sign_in"
    %lastmod= '2020-04-23T17:05:08Z'
  %url
    %loc= "https://www.cher.app/users/sign_up"
    %lastmod= '2020-04-23T17:05:08Z'
