- title(t("meta.investors.title"))
- meta_tag(:description, t("meta.investors.description"))
#partner.full-width-container.custom-page
  .page-hero.is-fully-centered
    .container.is-fully-centered
      %h1 Partner with us
  .main-container
    .container
      %h2.m-b-lg.has-red-border Overview
      %p The idea behind Cher existed years ago during the Founder's days at the University of Washington. It wasn’t until 2018 that Cher’s development began cultivated by the high home prices, rising rents, and existing shared living conditions.
      %h2.m-t-xl.m-b-lg.has-red-border First, we had to be licensed
      %p Back in 2014, there were some stringent guidelines to have a Corporate Real Estate Broker's license. Immediately after passing however, Eric knew a world of opportunities had opened up for his dreams of Cher. With his background and knowledge in construction engineering, finance, and green building, Eric became focused on helping everyone his age into homeownership. After representing a few of his friends in real estate transactions and losing some of their dream homes to high home prices, Eric earned his mortgage loan originators license. This would reduce his clients closing costs. Even after earning this license and providing discounted loans, it was still a massive undertaking to purchase a home in any metropolitan area.
      %p So our team was assembled and studied the market asking fundamental questions like, how to even find someone to rent with…. And we discovered that many people met total strangers on the internet to live and rent with because of affordability and lack of resources. We began to ask, why couldn't a more comprehensive and secure approach be done but with owning that same space. Something had to change....
      %h2.m-t-xl.m-b-lg.has-red-border And thus Cher was born
      %p Soon after our team of Cher believers were found, our software quickly began to take flight. It was key to find a team that believed in Cher and a better way of life outside of renting.
      %p So let's address the ELEPHANT in the room. Do people even co-own homes with non-relatives? Don't you have to be married to co-own a home?
      .is-flex.is-justified-center.m-t-lg
      %h2.m-t-xl.m-b-lg.has-red-border The old way of thinking....
      .is-flex.is-justified-center.m-t-lg
        = image_tag 'partner/cherapp-ownership-coborrowing-graph_1.png', width: '80%', alt: t('img_alts.chart')
      %h2.m-t-xl.m-b-lg.has-red-border The Facts
      .columns.is-multiline.m-t-lg
        .column.is-6.has-centered-text
          %h3.is-purple.is-size-1 30%
          %p
            Increase in
            %strong co-owned
            homes between
            %strong non-relatives
            i.e. friends between 2005 and 2015
        .column.is-6.has-centered-text
          %h3.is-purple.is-size-1 650K
          %p
            Homes that are
            %strong co-owned
            with
            %strong non-relative
            in 2017 between LA, SF, NYC and Seattle alone.
        .column.is-6.has-centered-text.is-offset-3
          %h3.is-purple.is-size-1 31.9%
          %p
            of
            %strong adults over 18
            already live in a
            %strong shared household.
            (Excluding collge students and adults with children)
      %h2.m-t-xl.m-b-lg.has-red-border Market Trends
      %p Rental rates continue to increase in metropolitan areas. Problems like rising mortgage rates, student debt, lack of home buying or co-owning knowledge, and slow salary growth are a few of the challenges facing homebuyers today. Annual rate of growth for an employed individual income is growing at a slower rate of 2% - 3% versus yearly increases of 5% - 10% in rent. With these factors facing real estate buyers, it creates barriers into owning a primary residence, secondary home, or investment property.
      %p As millennials compromise on homes in undesirable locations, they are not only unsatisfied but also less likely to be able to afford an investment property due to slower appreciation in these areas. From the National Association of Realtors, 9 out of 10 millennials want to own a home, but only 4.4% plan to do so this year due to affordability. It takes on average 14 years for someone who earns $60,000 per year to afford a $700,000 home which is the current average price for real estate. That is assuming rents do not increase any higher than where they currently are at $2,100. The average salary anyone must make to pay the average rent in our metropolitan targeted area is $113,000 to rent on their own. From the U.S. Census Bureau, there has been a 30% increase in co-owning homes with non-relatives over the past 10 years. In 2017, there were over 650,000 co-owned homes that exist between Los Angeles, San Francisco, New York City, and Seattle.
      %h2.m-t-xl.m-b-lg.has-red-border Is there any Media Coverage About Co-owning With Friends
      %ul
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.vice.com/en_ca/article/59xp9z/how-six-friends-pooled-their-money-to-buy-a-dollar13-million-house-in-toronto', 'https://www.vice.com/en_ca/article/59xp9z/how-six-friends-pooled-their-money-to-buy-a-dollar13-million-house-in-toronto', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.quickenloans.com/blog/buying-house-friends', 'https://www.quickenloans.com/blog/buying-house-friends', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.sofi.com/learn/content/buying-home-with-non-spouse/?__cf_chl_jschl_tk__=bd56f71e37f7355fea62a87c351bf588cb46e1e2-1575652769-0-Af_-EAuGCTg0a8tbWr1LHsGP7t756J1VoRGZAm_4Z5B84I-WfZykRiBA8KRLFWr9rTJZLAEI-j4am5eFxm69cD0dIpGxzHqOpDNBZQo4xOzQGNNosDJvrgqzVNeN7huEdWSRKmNgar1GoIXy7voAQZ7zXu4eOHEyYoONS27QRtInQ_GnSeWCG0XawS8ML4rbUyXBgE6H1Om7Fa8Ta4tW7BGUjQM8b8gHPt97Dr26v4GQpL3gJvYN8pMZHV4HKpBMntpxia2TbLdwd7L8zBJoDbhJTHTWF9SgPX8c7dJMks3OBQ9YLx93VqLutVk2aGt-z0-NKF_7pRVwoxgmFl-QzYTLDizZ9t7M6wfyqLFMljQwsvbJeX9IFoCwT2uz_bCuww', 'https://www.sofi.com/learn/content/buying-home-with-non-spouse/?__cf_chl_jschl_tk__=bd56f71e37f7355fea62a87c351bf588cb46e1e2-1575652769-0-Af_-EAuGCTg0a8tbWr1LHsGP7t756J1VoRGZAm_4Z5B84I-WfZykRiBA8KRLFWr9rTJZLAEI-j4am5eFxm69cD0dIpGxzHqOpDNBZQo4xOzQGNNosDJvrgqzVNeN7huEdWSRKmNgar1GoIXy7voAQZ7zXu4eOHEyYoONS27QRtInQ_GnSeWCG0XawS8ML4rbUyXBgE6H1Om7Fa8Ta4tW7BGUjQM8b8gHPt97Dr26v4GQpL3gJvYN8pMZHV4HKpBMntpxia2TbLdwd7L8zBJoDbhJTHTWF9SgPX8c7dJMks3OBQ9YLx93VqLutVk2aGt-z0-NKF_7pRVwoxgmFl-QzYTLDizZ9t7M6wfyqLFMljQwsvbJeX9IFoCwT2uz_bCuww', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://vanmetrehomes.com/blog/top-3-financial-benefits-buying-house-friend', 'https://vanmetrehomes.com/blog/top-3-financial-benefits-buying-house-friend', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.hgtv.com/design/real-estate/questions-to-ask-before-buying-a-home-with-a-friend', 'https://www.hgtv.com/design/real-estate/questions-to-ask-before-buying-a-home-with-a-friend', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://business.financialpost.com/personal-finance/mortgages-real-estate/how-to-co-buy-a-home-with-your-friend-in-canadas-expensive-market', 'https://business.financialpost.com/personal-finance/mortgages-real-estate/how-to-co-buy-a-home-with-your-friend-in-canadas-expensive-market', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://mymortgageinsider.com/co-owning-house-with-friends-relatives-7238/', 'https://mymortgageinsider.com/co-owning-house-with-friends-relatives-7238/', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.bbc.com/news/business-13411292', 'https://www.bbc.com/news/business-13411292', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://inews.co.uk/inews-lifestyle/money/buying-with-a-friend-was-the-only-way-i-could-get-on-the-property-ladder-510406', 'https://inews.co.uk/inews-lifestyle/money/buying-with-a-friend-was-the-only-way-i-could-get-on-the-property-ladder-510406', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.ratesupermarket.ca/blog/friends-with-housing-benefits-the-dos-and-donts-of-co-owning-a-home/', 'https://www.ratesupermarket.ca/blog/friends-with-housing-benefits-the-dos-and-donts-of-co-owning-a-home/', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.homesandproperty.co.uk/mortgages/shared-mortgages-with-friends-top-10-tips-on-buying-with-friends-to-get-on-the-property-ladder-a93601.html', 'https://www.homesandproperty.co.uk/mortgages/shared-mortgages-with-friends-top-10-tips-on-buying-with-friends-to-get-on-the-property-ladder-a93601.html', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.americanfinancing.net/purchase/buying-house-with-friend', 'https://www.americanfinancing.net/purchase/buying-house-with-friend', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.census.gov/library/visualizations/2018/comm/living-arrangements-18-24.html', 'https://www.census.gov/library/visualizations/2018/comm/living-arrangements-18-24.html', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.census.gov/library/visualizations/2018/comm/living-arrangements-25-34.html', 'https://www.census.gov/library/visualizations/2018/comm/living-arrangements-25-34.html', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.washingtonblade.com/2018/02/09/considering-buying-home-friend-partner/', 'https://www.washingtonblade.com/2018/02/09/considering-buying-home-friend-partner/', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.theatlantic.com/business/archive/2014/07/two-couples-one-mortgage/374102/', 'https://www.theatlantic.com/business/archive/2014/07/two-couples-one-mortgage/374102/', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://medium.com/ideo-colab/don-t-think-you-can-buy-a-home-you-re-not-alone-baeae074df8e', 'https://medium.com/ideo-colab/don-t-think-you-can-buy-a-home-you-re-not-alone-baeae074df8e', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.opendoor.com/w/blog/buying-a-house-with-a-friend-or-relative', 'https://www.opendoor.com/w/blog/buying-a-house-with-a-friend-or-relative', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://www.washingtonpost.com/business/2019/03/11/what-you-need-know-when-considering-buying-home-with-friends/?noredirect=on&amp;utm_term=.e473a6637e01', 'https://www.washingtonpost.com/business/2019/03/11/what-you-need-know-when-considering-buying-home-with-friends/?noredirect=on&amp;utm_term=.e473a6637e01', target: '_blank'
        %li.has-overflow-elipsed.m-b-sm= link_to 'https://themortgagereports.com/20783/double-home-buying-power-with-a-friend-relative', 'https://themortgagereports.com/20783/double-home-buying-power-with-a-friend-relative', target: '_blank'
      %h2.m-t-xl.m-b-lg.has-red-border So co-owning is trending...
      %p ...but why isn't EVERYONE doing this?! Well, here are a few reasons why:
      %h3.m-t-md The question
      %p.m-t-md
        People want to co-own with friends, family, significant others.
        %strong Why is it not more popular?
      %h3.m-t-md The (current) co-owning problems
      %ul.has-bullets.m-t-md
        %li Seek legal counsel
        %li Incur additional closing costs
        %li Lack of flexible exits
        %li Who to co-own homes with?
        %li How to sell and get out?
        %li Deal with unqualified professinals
      %p.m-t-md So...we headed off to San Francisco, NYC, and LA to tell investors co-owning isn't just for your significant other. We met with dozens of banks like Bank of America, Wells Fargo, Chase, and even HSBC who all told us the same thing. &quot;We have been providing loans for non-related people for years&quot;. If that was the case, why was it not more popular and why wasn't Cher a huge success already. People are co-owning homes today, in fact there is a 30% increase in co-owning homes amongst friends over the last 10 years. The problem we all face with when co-owning with friends or family we realized is how to exit unilaterally and of course who to co-own a home with. If only there was a way to meet more qualified people that were financially vetted and having similar personalities plus taking out the headache of the home buying process. Which is exactly why we built Cher.
      %p After speaking with dozens of lending institutions, industry professionals, and co-owners, we
      .is-flex.is-justified-center.m-t-lgg
        = image_tag 'partner/cherapp-ownership-coborrowing-graph_2.png', width: '50%', alt: t('img_alts.asking_for_coowning')
      %p The results.... Our phones were ringing off the hook about interested buyers looking to co-own with me. They were disappointed to hear our software was not ready to go, but that was really when we knew that we have something great! So what was the next step?
      %p We launched in Los Angeles and had some great User and Customer feedback. Below are just a few of our planned launch locations!
      %ul.has-bullets.m-t-md
        %li Los Angeles County, CA
        %li San Diego County, CA
        %li San Francisco County, CA
        %li Orange County, CA
        %li Oakland City, CA
        %li San Jose City, CA
        %li Boston City, MA
        %li Seattle, WA
        %li Bellevue, WA
        %li Washington D.C.
        %li Boulder City, CO
        %li Queens City, NY
        %li Brooklyn City NY
        %li Manhattan City, NY
        %li Austin City, TX
        %li Miami City, FL
      %h3.m-t-md In Summation
      %p We are on a mission to help millions of qualified buyers access their first home. We believe this will give people of all ages an opportunity not only into investing in their futures, but creating a few lifelong friendships along the way.
      %p With over 50 years of combined experience in real estate, software, financial technology, and the lending space, Cher is made up of industry professionals each highly trained in their area of expertise.
