!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }
  %body
    %h2
      An error ocurred on CherApp
    %p= "From: #{@error_from}"
    %p= "Type: #{@error_type}"
    %p= "Message: #{@error_message}"

