%section.section.is-essential-blue.has-height-unset
  %h2.has-centered-text.has-text-white.is-marginless= t('ticker.trusted_by')
  .landing-ticker.main-container
    .container
      .logo-container.is-fully-centered
        = image_tag("cherapp-ownership-coborrowing-equifax.png", alt: t('img_alts.equifax'), class: 'animated-image')
      .logo-container.is-fully-centered
        = image_tag("cherapp-ownership-coborrowing-vouched.png", alt: t('img_alts.vouched'), class: 'animated-image')
      .logo-container.is-small.is-fully-centered
        = image_tag("cherapp-ownership-coborrowing-uwm.png", alt: t('img_alts.uwm'), class: 'animated-image')
      .logo-container.is-fully-centered
        = image_tag("cherapp-ownership-coborrowing-barada.png", alt: t('img_alts.barada'), class: 'animated-image')
      .logo-container.is-fully-centered
        = image_tag("cherapp-ownership-coborrowing-mucker-lab.svg", alt: t('img_alts.muckle_lab'), class: 'animated-image')
      .logo-container.is-fully-centered
        = image_tag("cherapp-ownership-coborrowing-crmls.png", alt: t('img_alts.crmls'), class: 'animated-image')
      .logo-container.is-fully-centered
        = image_tag("cherapp-ownership-coborrowing-experian.png", alt: t('img_alts.experian'), class: 'animated-image')
      .logo-container.is-fully-centered
        = image_tag("cherapp-ownership-coborrowing-quicken-loans.png", alt: t('img_alts.quicken_loans'), class: 'animated-image')
      .logo-container.is-fully-centered.is-small
        = image_tag("cherapp-ownership-coborrowing-queen_city_fintech.png", alt: t('img_alts.quicken_loans'), class: 'animated-image')
