%section.section.has-background-white.has-height-unset
  %h3.is-bold.has-text-centered How it works
  .columns.is-marginless.is-fully-centered
    .column.is-four-fifths-desktop.is-full
      .columns.is-marginless.is-multiline.is-mobile
        .column.has-text-centered.is-half-mobile
          = image_tag("cherapp-ownership-coborrowing-live-and-share.svg")
          %p.is-size-5.is-bold Like and share your favorite homes
        .column.has-text-centered.is-half-mobile
          = image_tag("cherapp-ownership-coborrowing-invite-friends.svg")
          %p.is-size-5.is-bold Invite or find friends to share homeownership
        .column.has-text-centered.is-half-mobile
          = image_tag("cherapp-ownership-coborrowing-ask-concierge.svg")
          %p.is-size-5.is-bold Ask questions and our dedicated specialists will help
        .column.has-text-centered.is-half-mobile
          = image_tag("cherapp-ownership-coborrowing-complete-loan.svg")
          %p.is-size-5.is-bold Complete our simple Loan process to get pre-qualified
  .columns.is-marginless.is-fully-centered.m-t-md
    .column.is-one-fifth
      = link_to "Learn more", "/about", class: 'button is-primary has-full-width'
