%section.section.is-white.p-t-none-mobile
  .container
    %h2.is-size-3.has-text-centered.m-b-lg.has-text-black-ter.is-family-secondary
      = 'Streamlined Co-owning Model'
    .columns.is-multiline.is-mobile.icons-set.is-justified-center
      .column.is-6-mobile.is-one-fifth-tablet
        = image_tag('professional_landing/cherapp-ownership-coborrowing-inbox.svg', alt: '')
        %span
          High-quality Leads Into Your Inbox
      .column.is-6-mobile.is-one-fifth-tablet
        = image_tag('professional_landing/cherapp-ownership-coborrowing-cobuyers.svg', alt: '')
        %span
          Meet New Co-buyers
      .column.is-6-mobile.is-one-fifth-tablet
        = image_tag('professional_landing/cherapp-ownership-coborrowing-agents.svg', alt: '')
        %span
          Become Their Agent
      .column.is-6-mobile.is-one-fifth-tablet
        = image_tag('professional_landing/cherapp-ownership-coborrowing-approves.svg', alt: '')
        %span
          Cher Pre-approves Your Clients
      .column.is-6-mobile.is-one-fifth-tablet
        = image_tag('professional_landing/cherapp-ownership-coborrowing-track.svg', alt: '')
        %span
          Track Escrow as a Group in App
    .columns.is-multiline.is-mobile.is-marginless.is-fully-centered
      .column.is-12-mobile.is-11-tablet.is-fully-centered
        = image_tag('professional_landing/cherapp-ownership-coborrowing-preview.png', alt: '', class: 'is-hidden-mobile')
        = image_tag('professional_landing/cherapp-ownership-coborrowing-phones.png', alt: '', class: 'is-hidden-tablet')


