%section.section.is-light-purple
  %h2.has-centered-text.has-text-black-ter= t('ticker.featured')
  .landing-ticker.main-container
    .container
      = link_to image_tag("landing/featured/cherapp-ownership-coborrowing-realton.png", alt: t('img_alts.national_assosiation_of_realtors'), class: 'animated-image '), "https://www.nar.realtor/events/ioi/pitch-battle", target: :blank, class: 'logo-container is-fully-centered'
      = link_to image_tag("landing/featured/cherapp-ownership-coborrowing-cbs.svg", alt: t('img_alts.cbs'), class: 'animated-image'), "", target: :blank, class: 'logo-container is-fully-centered'
      = link_to image_tag("landing/featured/cherapp-ownership-coborrowing-mucker.png", alt: t('img_alts.mucker_lab'), class: 'animated-image'), "https://www.mucker.com/muckerlab-accelerator/", target: :blank, class: 'logo-container is-small is-fully-centered'
      = link_to image_tag("landing/featured/cherapp-ownership-coborrowing-svop.png", alt: t('img_alts.svop'), class: 'animated-image'), "https://www.youtube.com/watch?v=YUTOE7UE3v8&amp;feature=youtu.be&amp;list=PLbP2X48Op8ZUIwGlTON4j4xk99mCUr4pq", target: :blank, class: 'logo-container is-fully-centered'
      = link_to image_tag("landing/featured/cherapp-ownership-coborrowing-westside.png", alt: t('img_alts.wetside'), class: 'animated-image'), "https://westsidetoday.com/2019/04/22/check-out-growth-capital-conference-april-25/", target: :blank, class: 'logo-container is-fully-centered'
      = link_to image_tag("landing/featured/cherapp-ownership-coborrowing-techday.png", alt: t('img_alts.techday'), class: 'animated-image'), "https://techdayhq.com/community/startups/cher", target: :blank, class: 'logo-container is-fully-centered'
      = link_to image_tag("landing/featured/cherapp-ownership-coborrowing-pitchglobal.png", alt: t('img_alts.pitchglobal'), class: 'animated-image'), "https://www.meetup.com/pitchglobally/events/260573758/", target: :blank, class: 'logo-container is-fully-centered'
      = link_to image_tag("partner/cherapp-ownership-coborrowing-startup_logo_color.png", alt: t('img_alts.startup_logo_color'), class: 'animated-image'), "", target: :blank, class: 'logo-container is-fully-centered'
