#pricing
  .full-width-container.is-fully-centered.is-paddingless-mobile.p-b-xl
    .container.p-t-md
      .columns.is-marginless.has-content-centered
        .panel.has-shadow.column.is-11-tablet.is-8-widescreen
          %h3
            = t('pricing.clique')
            %strong= t('pricing.premium')
          .columns.is-marginless.is-paddingless
            .column.is-full.is-fully-centered
              .has-centered-text.p-b-lg
                .columns.is-fully-centered.is-marginless.has-full-height.m-t-md-mobile.is-mobile.is-multiline.p-t-md.is-paddingless-mobile
                  .is-flex
                    %span.has-centered-text.is-fully-centered
                      = image_tag 'cherapp-ownership-coborrowing-buy-3-credits.svg', class: 'm-r-md', alt: t('img_alts.calendar')
                    .is-size-1.is-size-3-mobile.has-text-weight-bold.is-marginless= t('pricing.cost', price: '99')
                  %span.is-12.column.is-size-5.is-size-6-mobile.is-paddingless= t('pricing.credits.html')
                  .column.is-half.m-t-md.is-paddingless-mobile.m-t-lg-mobile
                    = link_to t('pricing.buy_credits'), customer_message_credits_path, method: :post, class: 'button is-fullwidth is-primary has-text-gold'
