!!!
%html{ lang: 'en-US' }
  %head
    = render "layouts/meta_tags"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.ico')
    - if Rails.env.production?
      = render "layouts/analytics"
    %link{ rel:"canonical", href: 'https://www.cher.app'}
    %script{ src: "https://static.vouched.id/widget/vouched.js" }
    %script{ src: "https://media.twiliocdn.com/sdk/js/chat/v3.3/twilio-chat.min.js" }
    %script{src: "https://apis.google.com/js/api.js"}
    %script{ async: "", defer: "defer", src: "https://connect.facebook.net/en_US/sdk.js"}

  %body{ 'data-environment': Rails.env, 'stripe_key': ENV['STRIPE_PUBLIC_KEY'], 'google_key': ENV['GOOGLE_MAPS_KEY'], class: "#{"is-paddingless" unless current_user}" }
    - if current_user
      = render 'shared/navbar_regular'
    = render 'shared/notification'
    = yield
    = render 'shared/footer'

    %noscript
      %iframe{ height: "0", src: "https://www.googletagmanager.com/ns.html?id=GTM-5MD5SHF", style: "display:none;visibility:hidden", width: "0"}
