%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "aac14e4e-b904-4164-8614-73540d210038", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;", :valign => "top"}
        %div
          %div{:style => "font-family: inherit; text-align: inherit"}
            %span{:style => "font-size: 16px"}= "Hello Russell,"
          %div{:style => "font-family: inherit; text-align: inherit"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit"}
            %span{:style => "font-size: 16px"}= "A real estate agent has paid for lead credits on our platform. Both the customer and consumer information will be listed below for visualization and contacting purposes. If you may need any additional information please feel free to reach out to me!"
            %br/
            %br/
            %span{:style => "font-size: 16px"}= "Customer Email Address: #{@params[:agent_email]}"
            %br/
            %span{:style => "font-size: 16px"}= "Consumer Email Address: #{@params[:user_email]}"
            %br/
            %span{:style => "font-size: 16px"}= "Date: #{@params[:date].strftime("%d/%m/%Y %H:%M")}"
            %br/