%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "aac14e4e-b904-4164-8614-73540d210038", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:18px 0px 18px 0px; line-height:16px; text-align:inherit;", :valign => "top"}
        %div
          %div{:style => "font-family: inherit; text-align: inherit"}= "Hi #{@professional.full_name}"
          %div{:style => "font-family: inherit; text-align: inherit"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit"}
            %span{:style => "color: #070707; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: inherit;"}= "You’ve got a new lead! #{@sender.first_name} is interested in co-owning #{@address}."
          %div{:style => "font-family: inherit; text-align: inherit"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit"}
            %span{:style => "color: #070707; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: inherit;"} Remember it’s a first-come, first-serve basis; so act quickly.
            %span{:style => "font-family: arial, helvetica, sans-serif; font-size: 16px"}
              %br/
          %div{:style => "font-family: inherit; text-align: inherit"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit"}
            %span{:style => "color: #070707; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: inherit;"} By clicking “accept” you acknowledge that you have 30 minutes to connect them within Cher.
          %div{:style => "font-family: inherit; text-align: inherit"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit"}
            %span{:style => "color: #070707; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: inherit;"} Good luck!
          %div
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "5b7e6b75-f96a-4355-80ee-95edbd793300", "data-role" => "module-button", "data-type" => "button", :role => "module", :style => "table-layout:fixed;", :width => "100%"}
  %tbody
    %tr
      %td.outer-td{:align => "center", :bgcolor => "", :style => "padding:0px 0px 0px 0px;"}
        %table.wrapper-mobile{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align:center;"}
          %tbody
            %tr
              %td.inner-td{:align => "center", :bgcolor => "#FFE45C", :style => "border-radius:6px; font-size:16px; text-align:center; background-color:inherit;"}
                %a{:href => conversation_url(@channel_sid), :style => "background-color:#FFE45C; border:1px solid #FFE45C; border-color:#FFE45C; border-radius:6px; border-width:1px; color:#000000; display:inline-block; font-size:16px; font-weight:normal; letter-spacing:1px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;", :target => "_blank"} Accept
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "5ab9eeb2-b0b7-4aa0-9057-7072fb4d4b99", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;", :valign => "top"}
        %div
          %div{:style => "font-family: inherit; text-align: start"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit; margin-left: 0px"}
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;"} The Cher Clique Agent Team
          %div{:style => "font-family: inherit; text-align: start"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit; margin-left: 0px"}
            %br/
            %br/
          %div{:style => "font-family: inherit; text-align: start"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit; margin-left: 0px"}
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;"} cher@cher.app
          %div{:style => "font-family: inherit; text-align: start"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit; margin-left: 0px"}
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;"} (415) 862-2437
          %div{:style => "font-family: inherit; text-align: start"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit; margin-left: 0px"}
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;"} 730 Arizona Avenue, Santa Monica, CA 90401
          %div{:style => "font-family: inherit; text-align: start"}
            %br/
          %div
