!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }
  %body
    %h2= "A prospect wants to be heard"
    %p= "Hello Cher. My name is #{@name}"
    %p= "My city: #{@city}"
    %p= "My state: #{@state}"
    %p= "My phone number: #{@phone}"
    %p= "My email: #{@email}"
    %p= "Thank you!"

