!!! Strict
%html.sg-campaigns{"data-editor-version" => "2", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", :name => "viewport"}/
    / [if !mso]><!
    %meta{:content => "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    / <![endif]
    /[if (gte mso 9)|(IE)]
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
    /[if (gte mso 9)|(IE)]
      <style type="text/css">
      body {width: 600px;margin: 0 auto;}
      table {border-collapse: collapse;}
      table, td {mso-table-lspace: 0pt;mso-table-rspace: 0pt;}
      img {-ms-interpolation-mode: bicubic;}
      </style>
    :css
      body, p, div {
        font-family: arial,helvetica,sans-serif;
        font-size: 14px;
      }
      body {
        color: #000000;
      }
      body a {
        color: #1188E6;
        text-decoration: none;
      }
      p { margin: 0; padding: 0; }
      table.wrapper {
        width:100% !important;
        table-layout: fixed;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }
      img.max-width {
        max-width: 100% !important;
      }
      .column.of-2 {
        width: 50%;
      }
      .column.of-3 {
        width: 33.333%;
      }
      .column.of-4 {
        width: 25%;
      }
      @media screen and (max-width:480px) {
        .preheader .rightColumnContent,
        .footer .rightColumnContent {
          text-align: left !important;
        }
        .preheader .rightColumnContent div,
        .preheader .rightColumnContent span,
        .footer .rightColumnContent div,
        .footer .rightColumnContent span {
          text-align: left !important;
        }
        .preheader .rightColumnContent,
        .preheader .leftColumnContent {
          font-size: 80% !important;
          padding: 5px 0;
        }
        table.wrapper-mobile {
          width: 100% !important;
          table-layout: fixed;
        }
        img.max-width {
          height: auto !important;
          max-width: 100% !important;
        }
        a.bulletproof-button {
          display: block !important;
          width: auto !important;
          font-size: 80%;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        .columns {
          width: 100% !important;
        }
        .column {
          display: block !important;
          width: 100% !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
        .social-icon-column {
          display: inline-block !important;
        }
      }
    / user entered Head Start
    / End Head user entered
  - user = @user || @professional
  %body
    %center.wrapper{"data-body-style" => "font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#FFFFFF;", "data-link-color" => "#1188E6"}
      .webkit
        %table.wrapper{:bgcolor => "#FFFFFF", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tr
            %td{:bgcolor => "#FFFFFF", :valign => "top", :width => "100%"}
              %table.outer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "content-container", :width => "100%"}
                %tr
                  %td{:width => "100%"}
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tr
                        %td
                          /[if mso]
                            <center>
                            <table><tr><td width="600">
                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:100%; max-width:600px;", :width => "100%"}
                            %tr
                              %td{:align => "left", :bgcolor => "#FFFFFF", :role => "modules-container", :style => "padding:0px 0px 0px 0px; color:#000000; text-align:left;", :width => "100%"}
                                %table.module.preheader.preheader-hide{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-type" => "preheader", :role => "module", :style => "display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;", :width => "100%"}
                                  %tr
                                    %td{:role => "module-content"}
                                      %p
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "74fdffbc-dd86-4505-9406-29812c4b6c53", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                                - if user&.role == "agent"
                                  %table.wrapper{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "8ab3756c-efea-490d-94fa-39dc86217f20", "data-type" => "image", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td{:align => "left", :style => "font-size:6px; line-height:10px; padding:0px 0px 0px 0px;", :valign => "top"} 
                                          %a{:href => "https://cher.app/professionals/"}
                                            %img.max-width{:alt => "", :border => "0", "data-proportionally-constrained" => "true", "data-responsive" => "true", :src => "#{image_url('cherapp-ownership-coborrowing-mailer_logo_professionals.png')}", :style => "display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:30% !important; width:30%; height:auto !important;", :width => "300"}/
                                - else                            
                                  %table.wrapper{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "8ab3756c-efea-490d-94fa-39dc86217f20", "data-type" => "image", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td{:align => "center", :style => "font-size:6px; line-height:10px; padding:0px 0px 0px 0px;", :valign => "top"} 
                                          %a{:href => "https://cher.app/"}
                                            %img.max-width{:alt => "", :border => "0", "data-proportionally-constrained" => "true", "data-responsive" => "true", :src => "#{image_url('cherapp-ownership-coborrowing-mailer_logo.png')}", :style => "display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:55% !important; width:55%; height:auto !important;", :width => "300"}/
                                  %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "bb6fe803-3c9a-4564-a49b-389564e4ece6", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                                  
                                  %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "825508d4-bcbf-4b0b-93cb-f7f226ad9062", "data-type" => "divider", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:0px 0px 0px 0px;", :valign => "top"}
                                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "5px", :style => "line-height:5px; font-size:5px;", :width => "100%"}
                                            %tbody
                                              %tr
                                                %td{:bgcolor => "1600FF", :style => "padding:0px 0px 5px 0px;"}
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "bb6fe803-3c9a-4564-a49b-389564e4ece6", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                                -# Content
                                = yield
                                -# Footer
                                %table.module{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "116b6c10-8e51-484b-af6e-06fdd82c6729", "data-type" => "social", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:align => "center", :style => "padding:0px 0px 0px 0px; font-size:6px; line-height:10px;", :valign => "top"}
                                        %table{:align => "left", :style => "-webkit-margin-start:auto;-webkit-margin-end:auto;"}
                                          %tbody                                           
                                            %tr{:align => "center"}
                                              %td.social-icon-column{:style => "padding: 0px 5px;"}
                                                %a{:alt => "Facebook", :href => user&.role == "agent" ? "https://www.facebook.com/CherCliqueAgent/" : "https://www.facebook.com/cherapp", :role => "social-icon-link", :style => "display:inline-block; background-color:#3B579D; height:21px; width:21px;", :target => "_blank", :title => "Facebook"}
                                                  %img{:alt => "Facebook", :height => "21", :role => "social-icon", :src => "#{image_url('cherapp-ownership-coborrowing-facebook.png')}", :style => "height:21px; width:21px;", :title => "Facebook", :width => "21"}/
                                              %td.social-icon-column{:style => "padding: 0px 5px;"}
                                                %a{:alt => "Instagram", :href => user&.role == "agent" ? "https://www.instagram.com/chercliqueagent/" : "https://www.instagram.com/cher.app", :role => "social-icon-link", :style => "display:inline-block; background-color:#7F4B30; height:21px; width:21px;", :target => "_blank", :title => "Instagram"}
                                                  %img{:alt => "Instagram", :height => "21", :role => "social-icon", :src => "#{image_url('cherapp-ownership-coborrowing-instagram.png')}", :style => "height:21px; width:21px;", :title => "Instagram", :width => "21"}/
                                              %td.social-icon-column{:style => "padding: 0px 5px;"}
                                                %a{:alt => "LinkedIn", :href => user&.role == "agent" ? "https://www.linkedin.com/showcase/cher-clique-agent/about/" : "https://www.linkedin.com/company/cher", :role => "social-icon-link", :style => "display:inline-block; background-color:#0077B5; height:21px; width:21px;", :target => "_blank", :title => "LinkedIn"}
                                                  %img{:alt => "LinkedIn", :height => "21", :role => "social-icon", :src => "#{image_url('cherapp-ownership-coborrowing-linkedin.png')}", :style => "height:21px; width:21px;", :title => "LinkedIn", :width => "21"}/
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "317c7043-53d3-435e-9dab-21d01319e95f", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "317c7043-53d3-435e-9dab-21d01319e95f", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                                        %div{:style => "font-family: inherit"}
                                          %br/
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "5a1c8393-2fc2-4f14-acf2-0b1d8d42c70e", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px; text-align:center;"}                               
                                        %table{:align => "center", :style => "-webkit-margin-start:auto;-webkit-margin-end:auto;"}
                                          %tbody
                                            %tr
                                              -if @user
                                                %span{:style => "font-size:12px; line-height:20px;"}
                                                  %a{:href => "#{user ? edit_notification_settings_url(user.slug) : ""}", :style => "color: #1188E6; text-decoration: none;", :target => "_blank"}Unsubscribe Preferences
                                              -else
                                                %span{:style => "font-size:12px; line-height:20px;"}                                             
                                                  %a{:href => "", :style => "color: #1188E6; text-decoration: none;"}Unsubscribe
                                                  
                                              
                          /[if mso]
                            </td>
                            </tr>
                            </table>
                            </center>
